# Turso (LibSQL)
TURSO_URL=libsql://yamato-sushi-hayotbek777.aws-ap-south-1.turso.io
TURSO_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTEzOTExMTQsImlkIjoiMDFhMTE3MzAtMTgwMS03YmYwLWExN2UtY2ZhNTFjZjljOGIxIiwia2lkIjoiN3NsMHRFdHIyMEFhQmVlV2RvOE5lamRPUHkxNUg1ZThwUlBfMk8xbVRtQSIsInJpZCI6IjRiNjlmNGE3LTRhYTAtNDk3Yy1iMTI5LTNlMzg2NTRkNWM2ZiJ9.Pnq1w-PlUy1WOLuUFMUOO9tP0gqmG3-op-C0rOu0ydopg6NCnsV-8Fz01bn5b3s1FOdUXC0iks-vkTdhk5kwBA

# Admin login
ADMIN_USER=sushiyamatoadmin2026
ADMIN_PASS=sushiyamatoadmin2026

# JWT
JWT_SECRET=yamato_sushi_urganch_2026_xorazm_secret_key_7b7b7b7b54c27bt63wtvr97bt9gfv6utg